@keyframes frombottom {
    from  { bottom: -150px; }
    to    { bottom: 0px; }
}

@keyframes fromleft {
    from  { left: -150px; }
    to    { left: 0px; }
}

@keyframes fromBottomText {
    from  { bottom: -100%; }
    to    { bottom: 0%; }
}

@keyframes fadein {
    from  { opacity: 0; }
    to    { opacity: 1; }
}

@keyframes fadeinTransparent {
    from  { opacity: 0; }
    to    { opacity: 0.75; }
}

@keyframes horizontalBounce {
    0%      { left: 0px; }
    25%     { left: -15px; }
    50%     { left: 0px; }
    75%     { left: 15px; }
    100%    { left: 0px; }
}