// Typography
// -------------------------
$ff-heading:     'Monsserat', sans-serif;
$ff-text:        'Monsserat', sans-serif;
$ff-variant:     'Noto Serif', serif;
$ff-alt:          Helvetica, Arial, sans-serif;
$ff-icon:        'Material-Design-Iconic-Font';

// Font Size
// ---------
$fs-smaller: 12px;
$fs-small: 14px;
$fs-base: 16px;
$fs-medium: 18px;
$fs-medium-lg: 20px;
$fs-big: 22px;
$fs-large: 30px;
$fs-title-card: 18px;
$fs-title-page: 30px;
$fs-title-section-small: 30px;
$fs-title-section: 30px;
$fs-title-btn: 30px;


// Font Weight
// -----------
$fw-light:     300;
$fw-bold:      700;
$fw-regular:   400;

// Spacing
// -------
$em: $fs-base;
$en: $em/2;

//Icon vars
$b9-icon-mail: "\e900";
$b9-icon-comment: "\e901";
$b9-icon-search: "\e902";
$b9-icon-cross: "\e903";
$b9-icon-arrow-right2: "\f061";
$b9-icon-android: "\e904";
$b9-icon-apple: "\e906";
$b9-icon-messenger: "\e905";
$b9-icon-soundclound: "\e908";
$b9-icon-spotify: "\e909";
$b9-icon-rss: "\30";
$b9-icon-facebook: "\31";
$b9-icon-twitter: "\32";
$b9-icon-youtube: "\34";
$b9-icon-soundcloud: "\35";
$b9-icon-pinterest: "\37";
$b9-icon-mail2: "\38";
$b9-icon-crown: "\39";
$b9-icon-arrow-right: "\65";
$b9-icon-quote: "\71";
$b9-icon-hamburger: "\72";
$b9-icon-avatars: "\74";
$b9-icon-arrow-left: "\77";
$b9-icon-spinner: "\e981";
$b9-icon-google-plus: "\ea8b";
$b9-icon-facebook2: "\ea91";
$b9-icon-instagram: "\ea92";
$b9-icon-whatsapp: "\ea93";
$b9-icon-linkedin: "\eac9";
