.my-picture {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    background-color: $c-black;
}

.project-container {
    margin-top: 25px;
    display: block;
    color: black;

    h2 {
        text-transform: uppercase;
    }

    .my-picture {
        width: 100%;
        height: auto;
        display: block;
        background-color: $c-black;
        animation: fadein 0.2s ease;
    }
}

.galho-videira {
    display: none;
}

@media all and (min-width: $media-query-tablet) {
    .my-picture {
        width: 346px;
        margin-bottom: 0;
    }
    
    .bottom-about-content {
        width: 314px;
        margin-top: 40px;
        margin-left: 20px;
    }
}

@media all and (min-width: $media-query-desktop) {
    .bottom-about-content {
        width: calc(100% - 523px);
        margin-left: 26px;
    }

    .galho-videira {
        position: absolute;
        top: -230px;
        right: 0;
        display: block;
        z-index: -1;
        transform: scale(1.3);
    }
}

@media all and (min-width: $media-query-desk-hd) {
    .bottom-about-content {
        width: 600px;

        .text {
            font-size: 22px;
            line-height: 28px;
        }
    }
}