.my-picture {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    background-color: $c-black;
}

.project-container {
    margin-top: 25px;
    display: block;
    color: black;

    h2 {
        text-transform: uppercase;
    }

    .my-picture {
        width: 100%;
        height: auto;
        display: block;
        background-color: $c-black;
        animation: fadein 0.2s ease;
    }
}

@media all and (min-width: $media-query-tablet) {
    .my-picture {
        width: 346px;
        margin-bottom: 0;
    }
    
    .bottom-about-content {
        width: 314px;
        margin-top: 150px;
        margin-left: 20px;
    }
}

@media all and (min-width: $media-query-desktop) {
    
    .bottom-about-content {
        width: calc(100% - 540px);
        margin-left: 26px;
    }
}