.logo-levante {
    display: none;
}

.project-image {
    margin-bottom: 0;
}

@media all and (min-width: $media-query-tablet) {
    .main-title-archive {
        width: 100%;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .project-container {
        width: 327px;
    }
}

@media all and (min-width: $media-query-desktop) {

    .project-container {
        width: 440px;
        height: 220px;
        text-decoration: none;
        margin-bottom: 0px;
        margin-top: 15px;

        .img-container {
            position: relative;
            height: 220px;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                display: block;
                opacity: 0;
                z-index: 2;
                transform: translate(-50%, -50%);
                background-color: $c-black;
                transition: opacity 0.1s ease 0.15s;
            }
        }

        .project-image {
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: transform 0.1s ease; 
        }

        .logo-levante {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 170px;
            z-index: 4;
            display: block;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: opacity 0.1s ease;
        }

        h2 { 
            position: absolute;
            bottom: -50px;
            left: 50%;
            width: auto;
            white-space: nowrap;
            display: block;
            z-index: 3;
            font-size: 36px;
            color: $c-white;
            transform: translateX(-50%);
            transition: bottom 0.15s ease;
        }

        &:hover {
            text-decoration: none;

            .img-container {
                &::before { 
                    opacity: 0.75;
                    transition: opacity 0.1s ease;  
                }
            }

            .project-image {
                transform: scale(1.05);
                transition: transform 0.2s ease 0.15s;
            }

            .logo-levante { 
                opacity: 1;
                transition: opacity 0.3s ease 0.1s;  
            }

            h2 {
                bottom: 20px;
                transition: bottom 0.1s ease;
            }
        }
    }
}


@media all and (min-width: $media-query-desk-hd) {

    .project-container {
        width: 554px;
        height: 275px;
        margin-top: 25px;

        .img-container {
            height: 275px;
        }
    }
}
