html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.c-wrapper {
    padding: 15px 0px;
}

footer {
    flex-shrink: 0;
}


img {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.u-uppercase {
    text-transform: uppercase;
}

.title-container {
    position: relative;
    overflow: hidden;
}

@media all and (min-width: $media-query-tablet) {
    
    .s-container-archive {
        flex-wrap: wrap;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 35px;

        &--about-me {
            align-items: end;
        }

        &--archive {
            padding: 0 20px;
        }
    }
}

@media all and (min-width: $media-query-desktop) {
    .content-container {
        justify-content: center;

        &--archive {
            justify-content: flex-start;
        }

        &--single {
            align-items: end;
        }
    }
}

@media all and (min-width: $media-query-desk-hd) {
    .content-container {
        padding-left: 80px;
    }

    .content-container--archive {
        padding: 0 36px; 
    }
}