footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer-container {
    position: relative;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.c-social {
    &__list {
        width: 183px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        display: block;
        width: 26px;
        height: 26px;
    }

    &__icon {
        height: 100%;
        width: 100%;
    }
}

.email {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    font-weight: $fw-light;
    color: $c-primary;
    transform: translate(58px, -58px) rotate(270deg);
}

@media all and (min-width: $media-query-tablet) {
    .footer-container {
        padding-left: 35px;
    }

    .c-social {
        &__link {
            width: 25px;
            height: 25px;
        }
    }
}

@media all and (min-width: $media-query-desktop) {
    .footer-container {
        padding-left: 0px;
    }

    .c-social {
        &__list {
            width: 200px;
        }

        &__link {
            transform: scale(1);
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.2);
                transition: transform 0.2s ease; 
            }
        }
    }

    .email {
        font-size: 14px;
        transform: translate(67px, -67px) rotate(270deg);
    }
}