header {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    width: 174px;
    height: 55px;
    display: block;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 174px;
        transform: translate(-50%, -50%);
    }
}

.menu-desktop {
    display: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: block;
    background-color: $c-black;
}

/* Side menu */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    z-index: 2;
    background-color: $c-tertiary;
    transform: translateX(100%);
    transition: transform 0.2s ease;

    .s-container {
        padding: 0;
    }

    &.is--active {
        transform: translateX(0);
        transition: transform 0.2s ease;
    }

    &__container {
        position: relative;
        width: 100%;
        height: calc(100vh - 30px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin: 30px 0;

        a {
            position: relative;
            font-size: 35px;
            font-weight: $fw-black;
            color: $c-black;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        display: block;
        background-color: $c-black;
    }
}

@media all and (min-width: $media-query-tablet) {
    .logo {
        width: 212px;
        height: 67px;

        img {
            width: 200px;
        }
    }

    .hamburger {
        width: 40px;
        height: 40px;
    }
        
    /* Side menu */
    .side-menu {
        .close {
            width: 40px;
            height: 40px;
        }

        &__item {
            margin: 32px;
    
            a {
                font-size: 68px;
            }
        }
    }
}

@media all and (min-width: $media-query-desktop) {
    .header-container {
        display: grid;
        grid-auto-columns: 255px auto;
        grid-template-areas: 'logo menu';
    }

    .logo {
        width: 255px;
        height: 81px;
        grid-area: logo;
    }

    .menu-desktop {
        display: flex;    
        height: 81px;
        align-items: center;
        background-color: $c-tertiary;
        grid-area: menu;

        &__list {
            display: flex;

        }
        
        &__item {
            position: relative;
            font-size: 22px;
            font-weight: $fw-bold;
            margin-left: 55px;

            &:first-child {
                margin-left: 0;
            }

            a {
                color: $c-primary;
                text-decoration: none;

                &:hover {
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        width: 100%;
                        transform: translateY(5px);
                        background-color: $c-secondary;
                    }
                }
            }
        }
    }
    
    .hamburger {
        display: none;
    }

    /* Side menu */
    .side-menu {
        &__item {
    
            a {
                &:hover {
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 10px;
                        width: 100%;
                        transform: translateY(10px);
                        background-color: $c-secondary;
                    }
                }
            }
        }
    }
}