.home {
    .main-content {
        overflow: hidden;
    }

    .main-title {
        font-size: 40px;
        line-height: 50px;
        position: relative;
        width: auto;
        height: auto;
        max-width: 100%;
        display: inline;
        animation: frombottom 0.6s forwards;
    }

    .text {
        position: relative;
        max-width: 316px;
        line-height: 22px;
        bottom: -150px;
        animation: frombottom 0.7s forwards 0.5s;
    }

    .about-me {
        font-family: $ff-text;
        font-size: 16px;
        font-style: italic;
        line-height: 28px;
        letter-spacing: 0.2px;

        position: relative;
        width: 91px;
        left: -150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: center;
        color: $c-secondary;
        text-decoration: none;
        transition: font-size 0.2s ease;
        animation: fromleft 0.7s forwards 1s;

        img {
            height: 14px;
            width: 91px;
            display: block;
        }
    }
}

.videira-tree {
    display: none;
}

@media all and (min-width: $media-query-tablet) {
    .home-container {
        padding:  0 0 0 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .home {
        .main-title {
            width: 598px;
            font-size: 67px;
            line-height: 86px;
        }

        .text {
            max-width: inherit;
            width: auto;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.2px;
        }

        .about-me {
            width: 150px;
            font-size: 20px;
            overflow: hidden;
            
            img {
                width: 127px;
                height: 20px;
            }
        }
    }

    .videira-tree {
        position: absolute;
        display: block;
        right: -176px;
        top: 632px;
        width: 600px;
        opacity: 0;
        animation: fadeinTransparent 1s forwards 1.6s;
    }

    .main-content {
        width: 575px;
    }
}

@media all and (min-width: $media-query-desktop) {
    .home-container {
        width: 600px;
        padding:  0 0 0 80px;
    }

    .home {
        .main-title {
            width: 654px;
            font-size: 55px;
            line-height: 65px;
        }

        .about-me {
            img {
                position: relative;
                display: block;
            }

            &:hover {
                img {
                    animation: horizontalBounce 0.35s forwards;
                }
            }
        }
    }

    .videira-tree {
        top: 170px;
        right: -290px;
        width: 600px;
    }
}

@media all and (min-width: $media-query-desk-hd) {
    .videira-tree {
        top: 170px;
        right: -240px;
        width: 800px;
    }
}

@media all and (min-width: $media-query-desk-hd + 100px) {
    .videira-tree {
        right: -160px;
    }
}