.project-image {
    height: auto;
    width: 100%;
    display: block;
    background-color: $c-black;
    margin-bottom: 8px;
}

.technologies-list {
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.technology-item {
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 10px;
    border: 1px solid $c-secondary;
    margin: 6px 0 0 6px;
    color: $c-secondary;
}

.credits-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 50px;

    .credits {
        font-size: 12px;
    }

    .logo-levante {
        display: block;
        width: 100px;
        height: auto;
        margin-left: 10px;
    }
}

@media all and (min-width: $media-query-tablet) {
    .top-project-container {
        width: 100%;

        .project-image {
            width: 649px;
            margin: 0 auto 5px 0;
        }
    }

    .technologies-list {
        width: 649px;
        margin: 0 auto 20px 0;
    }

    .technology-item {
        font-size: 16px;
    }

    .bottom-project-container {
        width: 649px;
        margin-top: 0;
        margin-left: 0;
    }
}

@media all and (min-width: $media-query-desktop) {
    .top-project-container {
        width: 506px;

        .project-image {
            height: auto;
            width: 506px;
            display: block;
            margin-bottom: 5px;
        }
    }

    .technologies-list {
        width: 506px;
    }

    .bottom-project-container {
        margin-left: 46px;
        width: calc(100% - 552px);
        margin-top: 40px;
    }

    .credits-container {
        margin-top: -50px;
    
        .credits {
            font-size: 14px;
        }
    }
}

@media all and (min-width: $media-query-desk-hd) {
    .top-project-container {
        width: 612px;

        .project-image {
            width: 612px;
        }
    }

    .technologies-list {
        width: 612px;
    }

    .bottom-project-container {
        width: calc(100% - 658px);
    }
}

@media all and (min-width: $media-query-full-hd) {
    .bottom-project-container {
        width: 600px;
    }
}

